*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto", sans-serif;;
}
.heading1{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    gap: 20px;
    font-size: 18px;
}
a:visited{
    color: #e5e7eb;

}
.heading1 img{
    margin: 10px;
}
.heading2{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}
.heading2text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.middlesectionheader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.middlesectionimages{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.quotesection{
    display: flex;
    height: 600px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
    margin-top: 40px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
.calltoactionsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.calltoactionsectioncontainer{
    display: flex;
    align-items: flex-start;
    background-color: #3882f6;
    border-radius: 10px;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    color:#f9faf8;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: #1f2937;
}
.heading2 h1{
    font-size: 48px;
    color:#f9faf8;
    font-weight: 900px;
}
.heading2 p{
    font-size: 18px;
    color:#e5e7eb;
}
.heading2text button{
    padding: 15px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    font-size: 18px;
    border: 0px;
}
.middlesectionimages img{
    border: 5px solid #3882f6;
    border-radius: 10px;
}
.middlesectionimages figcaption{
    color:grey;
    font-size: 18px;
}
