*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 900em;   
}
.mainheader{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding-left: 10px;
}
.left, .right{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
a{
    text-decoration: none;
    color:white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.dublin{
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
}
.magnus{
    background-color: rgb(0, 183, 255);
    font-size: 20px;
    color: white;
    padding: 5px 25px;
    border-radius: 1%;
    font-weight: bold;   
}
.minus{
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}
section .jojem{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size:30px;
    margin-top: 8em;
}
section .marrom{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.marrom .mascara{
    border-radius: 5%;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top:10em;
}
img{
    border-radius: 5%;
}
article .portuario{
    display: flex;
    font-size: 50px;
    justify-content: center;
    background-color: rgba(199, 199, 199, 0.925);
    padding: 5em;
    margin-top: 5em;
}
aside .mucho{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border: 10px solid #3882f6;;
    margin: 5em;
    padding: 60px;
    font-size: 30px;
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
}
.mucho .yugo{
    font-size: 20px;
}
.mucho .modico{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #3882f6;
    color:white;
}