*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.heading1{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
}
ul{
    display: flex;
    margin: 20px;
    gap: 20px;
}